@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
* {
    font-family: 'Itim', cursive;
    
}
html {
  font-size: 14px;    
}

.bg-purple {
    background-color: #42289A;
}
.navbar-brand {
    display:flex;
}
.button-add {
    font-size: 16px;
}
.TituloLogo {
    font-size: 24px;
}
.cont {
    display:flex;
    flex-direction: column;
}
.copy {
    color: #d0d0d0;
    justify-self: center;
    align-self: center;
}
@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    color: white;
    background-blend-mode: darken;
    background-image:  url(../img/defaultopc3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


