@model MusicApp.Models.Cancione
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center container-index ">
    <div class="container-interno mt-4">
        <h1>MusicApp</h1>       
        <div class="container-parrafo">
            <p >
                Este proyecto fue creado con la finalidad de poder<br />
                poner a prueba mis habilidades desarrollando una <br />
                aplicacion sencilla, para ell desarrollo de está <br />
                página se utilizo C#, SQL, HTML, CSS y JavaScript.<br />
            </p>
        </div>
        <div class="container-buttons">
            <a href="https://www.linkedin.com/in/luis-angel-barajas-arroyo-616345211/" target="_blank" class="btn btn-linkedin">
                <img src="~/img/linkedin.png" width="20" height="20" /><span class="ms-2">Angel Barajas</span>
            </a>
            <a href="https://github.com/BarajasAngel" target="_blank" class="btn btn-github">
                <img  src="~/img/github.png" width="20" height="20" /><span class="ms-2">@@BarajasAngel</span>
            </a>
        </div>
        
    </div>
    <div class="mb-5 container-card">
        @if (false)
        {
            <div class="mt-5 item-grip">
                <p class="ms-5 advertencia">
                    Aún no hay canciones por mostrar. <br />
                    Por favor agregue alguna.
                </p>
            </div>
        }
        else
        {
            @for (int i = 0; i < 6; i++)
            {
                <div class=" mt-3">
                    <div class="card border-0" style="width: 18rem;">
                        <img src="~/img/default.jpg" class="card-img-top" alt="...">
                        <div class="card-body p-1 ms-3 ">
                            <div class="container-atributos">
                                <span class="text-black">Titulo:</span><br />
                                <span class="text-black">Grupo:</span><br />
                                <span class="text-black">Autor:</span><br />
                                <span class="text-black">Género:</span><br />
                            </div>
                            <div class="mt-2 mb-2">
                                <a href="#" class="btn btn-success py-0 pb-1" data-bs-toggle="modal" data-bs-target="#ModalAgregar"><img src="~/img/editar.png" width="16" heigth="16" /></a>
                                <a href="#" class="btn btn-danger  py-0 pb-1" data-bs-toggle="modal" data-bs-target="#ModalEliminar"><img src="~/img/trash.png" width="16" heigth="16" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<!-- Modal Eliminar-->
<div class="modal fade" id="ModalEliminar" tabindex="-1" aria-labelledby="ModalEliminarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black" id="exampleModalLabel">Eliminar canción</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-black">
                <h2>
                    ¿Seguro que quieres eliminar esta canción?
                </h2>
                <form id="frmEliminar">                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" onclick="submitEliminar()" class="btn btn-danger">Si</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar-->
<div class="modal fade" id="ModalAgregar" tabindex="-1" aria-labelledby="ModalAgregarLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black" id="exampleModalLabel">Editar canción</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-black">
                <div id="alertE">

                </div>
                <form id="frmEditar" asp-action="Editar" asp-controller="Home">
                    <div>
                        <label asp-for="Link"
                               class="col-form-label col-form-label-lg"></label>
                        <input asp-for="Link" class="form-control form-control-lg" />
                        <span asp-validation-for="Link" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Titulo"
                               class="col-form-label col-form-label-lg"></label>
                        <input asp-for="Titulo" class="form-control form-control-lg" id="txtTituloE"/>
                        <span asp-validation-for="Titulo" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Grupo"
                               class="col-form-label col-form-label-lg"></label>
                        <input asp-for="Grupo" class="form-control form-control-lg" id="txtGrupoE"/>
                        <span asp-validation-for="Grupo" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Año"
                               class="col-form-label col-form-label-lg"></label>
                        <input asp-for="Año" class="form-control form-control-lg" id="txtAñoE"/>
                        <span asp-validation-for="Año" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="Genero"
                               class="col-form-label col-form-label-lg"></label>
                        <input asp-for="Genero" class="form-control form-control-lg" id="txtGeneroE"/>
                        <span asp-validation-for="Genero" class="text-danger"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" onclick="submitEditar()" class="btn btn-primary">Editar</button>
            </div>
        </div>
    </div>
</div>