@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center container-index vh-100">
    <div class="container-interno mt-4">
        <h1>MusicApp</h1>
        <p class="ms-5">
            Este proyecto fue creado con la finalidad de poder<br />   
            poner a prueba mis habilidades desarrollando una <br />
            aplicacion sencilla, para ell desarrollo de está <br />
            página se utilizo C#, SQL, HTML, CSS y JavaScript.<br />
        </p>
        <div class="container-buttons">
            <button class="btn btn-linkedin">
                <img src="~/img/linkedin.png" width="20" height="20" /><span class="ms-2">Angel Barajas</span>
            </button>
            <button class="btn btn-github">
                <img  src="~/img/github.png" width="20" height="20" /><span class="ms-2">@@BarajasAngel</span>
            </button>
        </div>
        
    </div>
@*    <div>
        @if (false)
        {
            <div class="mt-5">
                <p class="ms-5 advertencia">
                    Aún no hay canciones por mostrar. <br />
                    Por favor agregue alguna.
                </p>
            </div>
        }
        else
        {
            <div class="container-card mt-3">
                <div class="card" style="width: 18rem;">
                    <img src="~/img/defaultopc3.jpg" class="card-img-top" alt="...">
                    <div class="card-body p-1 ">
                        <div class="container-atributos">
                            <span class="text-black">Titulo:</span><br />
                            <span class="text-black">Grupo:</span><br />
                            <span class="text-black">Autor:</span><br />
                            <span class="text-black">Género:</span><br />
                        </div>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        }
    </div>*@
</div>
